


/* Project start */
body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.container{
    display : flex;
    justify-content: center;
    height: 84vh;
    align-items: center;
}

/* Project End */


/* footer start */


/* Footer End */

